table {
    border:1px solid black;
}

th, td {
    border: 1px solid black;
}

tr {
    transition: 0.3 ease;
}
tr:nth-child(odd){
    background-color: aqua;
}
tr:nth-child(even){
    background-color: rosybrown;
}

tr:hover{
    background-color: red;
}

/*--------Form--------*/
.form-part {
    border: 2px solid grey;
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

label {
    margin-right: 2px;
}

input{
    background-color: aqua;
}

.form-part input:nth-child(even){
    background-color: blue;
    /* transform: scale(1.25); */
}