@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1{
    color: red;
    font-family: "Pacifico", cursive;
}

h3 {
    color: red;
}

.img-container {
    border: 10px solid green;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.rounded-img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.p1 {
    background-color: grey;
}

.p2 {
    background-color: green;
}