h1 {
    background-color: blue;
    color: yellow;
    padding: 15px 15px;
}

p{
    color: blue;
}

h3{
    color: green;
}

a{
    display: flex;
    margin: 10px 0 ;
}

iframe {
    width: 400px;
}